.nav {
    height: 6rem;
    width: 100vw;
    background-color: rgb(20, 77, 124);
}

.nav-component {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 50%;
}

.img {
    width: 3rem;
    height: 3rem;
    margin-top: 0.3rem;
}

.inotas {
    color: white;
    font-weight: bold;
    font-style: italic;
    margin-top: -0.03rem;
}


@media (min-width: 1023px) and (max-width: 1440px) {
    .nav-component {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 120rem;
    }

    .nav {
        height: 5rem;
        width: 95rem;
        background-color: rgb(20, 77, 124);
    }
}